@model ZaiEats.Models.Restaurant

@{
    ViewData["Title"] = "Create Restaurant";
}

<div class="max-w-md mx-auto mt-24 px-4 py-6 rounded-xl shadow-white shadow-sm bg-black">
    <h2 class="text-xl font-bold text-center text-yellow-800 mb-4">Add a New Restaurant</h2>

    <form asp-action="CreateRestaurant" method="post" enctype="multipart/form-data" class="space-y-4 text-sm">

        <!-- Name -->
        <div>
            <label asp-for="Name" class=" text-gray-500 font-medium mb-1"></label>
            <input asp-for="Name"
                   class="w-full border mt-2 border-gray-300 rounded-md px-3 py-1.5 text-white bg-transparent " />
            <span asp-validation-for="Name" class="text-red-500 text-xs mt-1 block"></span>
        </div>

        <!-- Description -->
        <div>
            <label asp-for="Description" class="text-gray-500 font-medium mb-1"></label>
            <textarea asp-for="Description" rows="3"
                      class="w-full border mt-2 border-gray-300 rounded-md px-3 py-1.5 text-white bg-transparent"></textarea>
            <span asp-validation-for="Description" class="text-red-500 text-xs mt-1 block"></span>
        </div>

        <!-- Image Upload -->
        <div>
            <label asp-for="ImageFile" class="text-gray-500 font-medium mb-1">Upload Image</label>
            <input asp-for="ImageFile" type="file"
                   class="w-full border mt-2 border-gray-300 rounded-md px-3 py-1.5 text-white bg-transparent">
            <span asp-validation-for="ImageFile" class="text-red-500 text-xs mt-1 block"></span>
        </div>

        <!-- Submit -->
        <button type="submit"
                class="w-full py-2 mt-2 bg-yellow-800 text-white font-semibold rounded-md hover:bg-yellow-700 transition">
            Save Restaurant
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
